
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<form asp-controller="Register" asp-action="SignUp" method="post" class="form">
    <div class="registered">
        <div class="registered__logo">
            <!--Add logo-->
        </div>

        <div class="registered__block">
            <label class="registered__block__name" for"">Imię</label>
            <input type="text" name="Name" class="registered__block__entry" placeholder="Imię" />
        </div>

        <div class="registered__block">
            <label class="registered__block__name" for"">Nazwisko</label>
            <input type="text" name="Surname" class="registered__block__entry" placeholder="Nazwisko" />
        </div>

        <div class="registered__block">
            <label class="registered__block__name" for"">Email</label>
            <input type="email" name="Email" class="registered__block__entry" placeholder="Email" />
        </div>

        <div class="registered__block">
            <label class="registered__block__name" for"">Login</label>
            <input type="text" name="Username" class="registered__block__entry" placeholder="Login" />
        </div>
        <div class="registered__block">
            <label class="registered__block__name" for"">Hasło</label>
            <input type="password" name="Password" class="registered__block__entry" placeholder="Hasło" />
        </div>


        <button type="submit" class="registered__block__button">Zarejestruj się!</button>

    </div>
</form>