
@{
    ViewData["Title"] = "UnsuccesRegister";
}

<h2>UnsuccesRegister</h2>
<h1>Rejestracja nie powiodła się!</h1>
<button asp-controller="Register" asp-action="Index" method="get">Wróć do rejestracji</button>


