<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    .sportmap {
        height: 550px;
        width: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    /*html, body {
        height: 100%;
        margin: 0;
        padding: 0;*/

</style>

<div id="sportmap" class="sportmap"></div>
<div id="markerInfo"></div>
